.img-box {
  width: 250px; /* or whatever width you prefer */
  background-color: #fff;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.img-box img {
  max-width: 100%; /* Ensures that the image never exceeds the width of its container */
  height: auto;
  display: block;
  margin: 0 auto;
}

