
/* page background */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(206, 221, 237);
}


#color-mixer {
    text-align: center;
    background-color: rgb(148, 163, 177);
    margin: 10px;
    padding: 10px;
}

#mixer-controls {
    margin: 20px;
}

#mixed-color-display {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin: 20px auto;
    display: none; /* Hide initially */
}
#colorDisplay {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    margin-top: 10px;
}

input[type=range] {
    width: 100%;
}

input[type="color" i]{
    border: 1px;
    outline:none;
    width: 50px;
    height: 50px;
    background: none;
    /* getting rid of the blocky default background for color in */
}


#mix-button{
    margin-top: 20px;
    scale: 120%;
    border-radius: 25px;
}

/* header background */
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-weight: lighter;
    text-align: center;
    background-color: rgb(240, 214, 229);
    padding:10px;
}
